.satyam-centerheader {
  text-align: center;
  background-color: white;
}

.pic{
  border-radius:50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}

.jumbotron
{
  background:url(https://img.freepik.com/free-vector/abstract-realistic-technology-particle-background_23-2148433468.jpg?size=626&ext=jpg);

}
#feature-card-grid{
  display:inline-flex;
}
.feature-card {
  box-shadow: 1px 1px 1px 4px #ccc;
  width:250px;
  height:310px;
  padding: 20px 50px;
  text-align: center;
  margin: 0 15px;
  box-align:center;
}

.feature-card-heading {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
  font-weight: 100;
}

.feature-card-desc {
  font-size: 15px;
  line-height: 25px;
  color: #888;
  font-weight: 400;
}

.feature-card-btn {
  background-color: #f4813f;
}
